* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #292929;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;

  transition:
    background 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease,
    opacity 0.2s ease;
}

button:active {
  transform: scale(0.98);
}

.container {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;

  padding: 0 32px;
}